################################
## White list based gitignore ##
################################

# forbidden
*
.*

# allowed
!.gitignore
!.gitattributes
!.drone.yml
!src/
!Makefile
!CMakeLists.txt
!*.c
!*.md
!*.h
!*.sh
